<ion-content>
  <div class="fullscreen-container">
    <!-- Contenedor del logo con animación -->
    <div class="splash-screen-text-arriba arriba">
      <h1 class="text-right">DIV:341 - 2024</h1>
    </div>
    
    <div class="splash-screen-container">
      <img src="assets/png/relevamiento-visual.png" alt="Logo" class="splash-logo">
    </div>

    <!-- Texto Inferior con animación, ahora posicionado en los laterales -->
    <div class="splash-screen-text">
      <h1 class="text-left abajo">AGUSTÍN TEIRA</h1>
      
    </div>
  </div>
</ion-content>
